* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(194, 194, 194);
  background-color: rgb(54, 53, 53);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  border-radius: 8px;
  padding: 3px;
  max-width: 200px;
}

.resultsContainer {
  margin-top: 1px;
  border-radius: 8px;
  background-color: black;
  max-width: 200px;
}

.resultsContainer div {
  cursor: pointer;
  padding: 3px;
  border-radius: 8px;
}

.resultsContainer div:hover {
  background-color: #3c3c3c;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detailsContainer h2 {
  margin: 3rem 0;
  font-size: 2rem;
  background-color: rgb(34, 34, 34);
  width: fit-content;
  padding: 0.7rem;
  border-radius: 20px;
}

.detailsContainer p {
  padding: 0.7rem;
  background-color: rgb(34, 34, 34);
  display: flex;
  gap: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
  align-items: center;
  width: fit-content;
}

.detailsContainer div {
  /* About text */
  margin-bottom: 3rem;
  line-height: 2rem;
  padding: 0.7rem;
  background-color: rgb(34, 34, 34);
  border-radius: 20px;
  text-align: center;
}

.property {
  color: rgb(122, 122, 122);
  font-weight: 800;
  text-align: center;
  height: fit-content;
}

.value {
  height: fit-content;
}

.lastVisitedContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 8px;
  margin-bottom: 5rem;
  max-width: 500px;
  gap: 10px;
}

.lastVisitedContainer div {
  flex-grow: 1;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  background-color: rgb(213, 213, 213);
  color: black;
}

.lastVisitedContainer div:hover {
  background-color: #3c3c3c;
  color: white;
}
